.hero{
    min-height: 100vh;
    background-color: black;
    background:
    radial-gradient(circle at 50% 0%, rgba(128,0,255,.25) 0%, transparent 45%),
    radial-gradient(circle at 10% 80%, rgba(128,0,255,.04) 0%, transparent 23%),
    radial-gradient(circle at 85% 60%, rgba(128,0,255,.08) 0%, transparent 30%),
        linear-gradient(
            to right,
            rgba(170, 59, 255, 0.04) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(170, 59, 255, 0.04) 1px,
            transparent 1px
        ),

        #0b0b0b;

    background-size:
        auto,
        auto,
        auto,

        85px 85px,

        85px 85px;
}
.hero-para{
    display:inline-block;
    justify-content: center;
    padding: 9px 20px;
    border-radius: 30px;
    border: 1px solid rgb(196,181,253);
}

.hero-para p{
    color: rgb(196,181,253); 
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading-highlight{
    font-size: 85px;
    font-weight: 700;
    max-width: 900px;
    text-align: center;
    color: white;
}

.hero-main span{
    background: linear-gradient(to right, rgb(181, 142, 243) 0.5%, rgb(107, 3, 203) 45%, rgb(156, 61, 246) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
}

.hero-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 28px;
}

.h-paragraph{
    color: rgb(139, 138, 138);
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.hero-btn{
    display: flex;
    gap: 20px;
    padding: 28px;
}

.cta-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    background-color: rgb(230, 50, 50);
    box-shadow: 0px 0px 15px rgb(230, 50, 50);
    color: white;
    padding: 15px 20px;
    border-radius: 13px;
    border: none;
    cursor:pointer;
}

.sec-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 13px;
    border: 1px solid grey;
    cursor: pointer;
}
.hero-stats{
    display: flex;
    gap: 40px;
    padding: 20px 20px;
    color: rgb(124,58,237);
}

.hero-stats p{
  color: rgb(146, 145, 145)
}

.stats-one{
    display: flex;
    flex-direction:row;
    gap: 5px;
}
.stats-two{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.stats-three{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.hero h1{
    text-align: center;
}