.projectcards-container{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 32px;

    margin-top: 36px;
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 64px;
}

